div.right
  p.
    Infrared Spectrum Reinterprettion is an open source project under MIT License, see the source 
    code on #[a(href="https://github.com/nclslbrn/infrared-spectrum-reinterpretation" target="blank") Github.com]
    .
