head
  title= "Infrared Spectrum Reinterpretation :: N.Lebrun"
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" type="text/css" href="dist/stylesheet/main.css" media="screen, print")
  link(rel="shortcut icon" href="dist/images/favicon-flask.ico")
