// GRAPH: D3.JS
script(src='javascript/lib/d3.v4.min.js')
  
// AUDIO: TONE.JS
script(src='javascript/lib/Tone.min.js')

// 3D: THREE.JS
script(src='javascript/lib/three.min.js')
  
// Infrared spectrum function (files from dist/javascript concatenated into main.js)
script(src='javascript/main.js')
