// GRAPH: D3.JS
script(src='lib/d3.v4.min.js')
  
// AUDIO: TONE.JS
script(src='lib/Tone.min.js')
  
// Infrared spectrum function (files from dist/javascript concatenated into main.js)
script(src='dist/javascript/main.js')
