body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  background-color: #1b1414;

}
.app-wrapper {
  position: relative;
  display: block;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
}
.app-wrapper #canvas-wrapper,
.app-wrapper aside {
  display: block;
  min-height: 800px;
}
.app-wrapper #canvas-wrapper{
  width: 75%;
  float: left;
}
.app-wrapper aside {
  width: 15%;
  float: right;
  padding: 20px 5px;
}
.app-wrapper aside select#molecule-select {
  padding: 0 2.5rem 0 1rem;
  line-height: 2.5rem;
  border: 0;
  outline:0;
  text-align: center;
  font-size: 18px;
  border-radius: 0;
  -webkit-appearance: none;
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' fill='white' height='40px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: #333;
  background-repeat:no-repeat;
  background-position: right 10px top 10px;
  background-size: 16px 16px;
  color: #fff;
}
.app-wrapper aside #data-comments p {
  font-size: 11px;
  line-height: 11px;
}
.line-chart {

  font-weight: lighter;
  shape-rendering: geometricPrecision
}
.line-chart .line {
  fill: none;
  stroke: #8bc34a;
  stroke-width: 1px;
}
.line-chart .axisWhite,
.line-chart .axisWhite .domain,
.line-chart .axisWhite .tick line{
  stroke: #fefefe;

}
.line-chart .legend {
  color: #fff;
  font-size: 18px;
}
