
.area-chart {
  font-weight: lighter;
  shape-rendering: geometricPrecision;

}

.area-chart .area {
  fill: url(#temperature-gradient);
  stroke-width: 05px;
}

.area-chart .axisWhite,
.area-chart .axisWhite .domain,
.area-chart .axisWhite .tick line{
  stroke: $text_color;

}
.grid line {
  stroke: transparentize( $text_color, .2);
}
.grid path {
  stroke-width: 0;
}
.area-chart .legend {
  color: $text_color;
  font-size: 18px;
}
