form {
  position: relative;
  display: block;
  width: 100%;
}
fieldset {
  display: block;
  margin: 1rem;
  border: none;
}
label {
  display: block;
}

button,
input{
  display: block;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 0;
}
input {
  appearance: none;
}
.button,
button {
  display: block;
  padding: 1rem 0;
  width: 70%;
  font-size: .9em;
  border: none;
  background: $primary_color;
  color: $text_color;
  transition: $animation;
  cursor: pointer;

  &:hover {
    background: $secondary_color;
  }
}
form fieldset dl.dropdown > a {
  font-size: 1em;
}
button {
  span.play,
  span.stop {
    display: inline-block;
    margin-right: .5em;
  }
  span.play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .5em;
    border-right-width: 0;
    border-left-width: 1em;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $text_color;
  }
  span.stop {
    width: 1em;
    height: 1em;
    background-color: $text_color;
  }
}
