body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $text_color;
  background-color: darken($background_color, 5%);

}
.app-wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  #canvas-wrapper,
  aside {
    display: block;
    min-height: 100vh;
  }
  #canvas-wrapper{
    position: fixed;
    width: 79%;
    float: left;
    background-color: darken($background_color, 8%);

  }
  aside {
    position: relative;
    width: 19%;
    padding: 20px 1%;
    float: right;
  }
}


a {
  color: $text_color;
}
