body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darken($background_color, 5%);
}
.app-wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  main,
  aside {
    display: inline-block;
    min-height: 100vh;
  }
  main {
    position: relative;
    width: 77%;
    padding: 0 1%;
    float: left;
  }
  .app-module #canvas-wrapper {
    display: block;
    min-height: 42vh;
    width: 100%;
  }
  aside {
    position: relative;
    width: 19%;
    padding: 1rem 1%;
    float: right;
  }
  footer {
    display: block;
    clear: both;
    float: none;
    padding: 2rem 1rem 1rem;

    .right {
      padding: 1rem 1rem 0;
      border-top: 1px solid transparentize($text_color, .95);
    }
  }
}
