dl.dropdown {
  background: $primary_color;

  &,
  dd,
  ul {
    padding: 0;
    margin: 0;
  }

  a {
    padding: .6rem 1rem;
    font-size: 1.2em;
    text-align: center;
    color: $text_color;
    text-decoration: none;
    border-bottom: 1px solid transparentize($primary_color, .5);
  }


  > a {
    display: block;
    position: relative;
    padding: .6rem 1.6rem .6rem 1rem;
    background-color: lighten($primary_color, 6%);
    transition: background-color $animation;

    &::after {
      position: absolute;
      right: 1em;
      margin: .5em;
      content: '';
      border-width: .5em;
      border-style: solid;
      border-color: transparent;
      border-top-color: $text_color;
      transform-origin: .5em .25em;
      transition: all $animation;
    }
    &:hover {
      background-color: lighten($background_color, 5%);
    }
  }
  &.active > a {
    &::after {
      transform: rotate(180deg);
    }
  }

  dd {
    position: relative;
    width: 100%;
  }

  dd ul {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    list-style-type: none;
    max-height: 0;
    overflow-y: hidden;
    transition: all .35s ease-in-out;

    li a {
      display: block;
      border-top: none;
      background-color: lighten($primary_color, 6%);
      transition: all $animation;

      &:hover {
        color: $text_color;
        background-color: $secondary_color;
      }
    }
  }
  &.active ul {
    max-height: 100vh;
  }
}
