//  Color Scheme

/**
 * Dark pink
 */
/*
$background_color: #310052;
$text_color: #FFDEF6;
$primary_color: #850D66;
$secondary_color: adjust-hue($primary_color, -5%);
*/

/**
 * light gray
 */
 /*
$background_color: #f1f1f1;
$text_color: #333;
$primary_color: #748792;
$secondary_color: adjust-hue($primary_color, -10%);
*/
/**
 * darkish
 */
/*
$background_color: #3D3D3D;
$text_color: #EBEBEB;
$primary_color: #76a50b;
$secondary_color: adjust-hue($primary_color, 15%);
*/
/**
 * dark green
 */

$background_color: #033649;
$text_color: #E8DDCB;
$primary_color: #036564;
$secondary_color: lighten(adjust-hue($primary_color, -10%), 20%);

$heading_font: 'Inter UI', sans-serif;
$body_font: 'Inter UI', sans-serif;

$animation: .35s ease-in-out;
