/* Dark pink
$background_color: #310052;
$text_color: #FFDEF6;
$primary_color: #850D66;
*/
/* electric blue
$background_color: #273538;
$text_color: #f1f1f1;
$primary_color: #004FFF;
*/

/* darkish */
$background_color: #1A1A1A;
$text_color: #ccc;
$primary_color: #1A1A1A;

$heading_font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$body_font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


$animation: .35s ease-in-out;
