
html {font-size: 1em;}

body {
  font-family: $body_font;
  font-weight: 400;
  line-height: 1.45;
  color: $text_color;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: $heading_font;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

a {color: $text_color;}

input { font-size: 1em; text-transform: uppercase;}

.modal h1,
aside h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bolder;
}
aside h2,
.app-module label {
  text-align: center;
  font-weight: bolder;
}
#data-comments p {
  font-size: 1em;
  line-height: 1.2em;

  &:first-child {
    font-size: 1.2em;
    line-height: 0em;
  }
}

#data-comments p:first-child,
.app-module h3 {
  color: $secondary_color;
}

.app-module h3{
  display: block;
  margin: .45em .75em;
  padding: 0 0 1rem 0;
  text-align: center;
  border-bottom: 1px solid transparentize($text_color, .95);
}
