//+------------------------------------------------------------------------+
//|  Infrared Spectrum Reinterpretation.....................................|
//|  Author: Nicolas Lebrun ................................................|
//|  Link: https://github.com/nclslbrn/infrared-spectrum-reinterpretation ..|
//|  License: MIT License ..................................................|
//+------------------------------------------------------------------------+
- 
  var moleculeDataFile = [
    {  
      title: 'Butane',
      file: '106-97-8-IR.jdx'
    },
    {  
      title: 'Chlorotrifluoromethane',
      file: '75-72-9-IR.jdx'
    },
    {  
      title: 'Ethanol',
      file: '64-17-5-IR.jdx'
    },
    {  
      title: 'Methane',
      file: '74-82-8-IR.jdx'
    },
    {  
      title: 'Octane',
      file: '111-65-9-IR.jdx'
    },
    {  
      title: 'Propane',
      file: '74-98-6-IR.jdx'
    },
    {  
      title: 'Sucrose',
      file: '57-50-1-IR.jdx'
    },
    {  
      title: 'Tetrafluoromethane',
      file: '75-73-0-IR.jdx'
    },
    {  
      title: 'Water',
      file: '7732-18-5-IR.jdx'
    }
  ];

doctype html
html(lang="fr")
  
  include templates/head.pug
  
  body
    div(class="app-wrapper")
      main
        div.app-module
          div#canvas-wrapper
          div.module--input
            form(method="POST" id="data-analysis-parameter")
              fieldset
                label(for="transmitanceThreshold").
                  Threshold (used to detect hits on transmitance):
                  #[output#transmitanceThresholdOutput]
                input(type="range" min="0" max="100" value="25" class="slider" id="transmitanceThreshold")
              fieldset
                label(for="stepDurationFactor").
                  Step duration factor:
                  #[output#stepDurationFactorOutput]
                input(type="range" min="0" max="100" value="25" class="slider" id="stepDurationFactor")
        div#sound-module.app-module
          div.module--input
            h3 Sound reinterpretation
            form(method="POST" id="sound-parameter")
              fieldset
                label(for="oscillator-type-dropdown").
                  Current oscillator type:
                  #[output#current-oscillator-type-output]
                dl#oscillator-type-dropdown.dropdown
                  a(href="#" class="dropdown-button" data-activate="setup_synth") Select a type of oscillator
                  dd
                    ul
                      li
                        a(class="link" href="#" data-oscillator="pwm") Pwm
                      li
                        a(class="link" href="#" data-oscillator="sine") Sine
                      li
                        a(class="link" href="#" data-oscillator="triangle") Triangle
                      li
                        a(class="link" href="#" data-oscillator="sawtooth") Sawtooth
                      li
                        a(class="link" href="#" data-oscillator="square") Square
                        
              fieldset
                label(for="minFrequency").
                  Minimum frequency
                  #[output#minimumSoundFrequency]
                input(type="range" min="1" max="100" value="50" class="slider" id="minFrequency")
                
              fieldset
                label(for="minFrequency").
                  Maximun frequency
                  #[output#maximumSoundFrequency]
                input(type="range" min="1" max="100" value="50" class="slider" id="minFrequency")
              button(id="playSound" type="button" name="playSound") Play
          div.module--output
            div#resulted-sequence
      aside
        h2 Infrared Spectrum Reinterpretation
        dl#molecule-dropdown.dropdown
          a(href='#' class="dropdown-button" data-activate="dropdown-molecule") Select a molecule
          dd
            ul
              each link in moleculeDataFile
                li
                  a(class="link" href="#" data-file="data/" + link.file) #{link.title}
        div#data-comments
        
        button(class="button modal-button" data-toggle="comment-source-file-modal") Read all comments of the source file
        
      footer
        div.right
          p.
            Infrared Spectrum Reinterprettion is an open source project under MIT License, see the source 
            code on #[a(href="https://github.com/nclslbrn/infrared-spectrum-reinterpretation" target="blank") Github.com]
            .
      
      div#comment-source-file-modal.modal
        h1.
          Comments of the source file
          #[button(class="button modal-button" data-toggle="comment-source-file-modal")!="&times;"]
      
      include templates/scripts.pug
